body {
    background-image: linear-gradient(90deg,#5C258D,#4389A2);   
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

h1,h2, p {
    color: whitesmoke;
    text-align: center;
}

table {
    border-collapse: collapse;
    background-color: whitesmoke;
    opacity: 0.75;
    margin: auto;
}

table, p {
    font-family: "Roboto",Arial, Helvetica, sans-serif;
}

table,th,td {
    border: 1.5px solid black;
    padding: 12px;
}

th {
    background-color: rgb(93, 167, 209);
}

.code {
    font-family: monospace;
    font-size: 16px;
    background-color: bisque;    
}

.attribute {
    font-weight: bold;
    color: purple;
}
